{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block menu %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
              <li><a href="{{url_for('etudiant.AccueilEtud')}}">Accueil</a></li>
              <li><a href="{{url_for('etudiant.logoutEtud')}}">Logout</a></li>
              <li><a><i class="fa fa-user"></i>  Bonjour, {{ current_user.username }}</a></li>
                 {% endif %}
            </ul>
        </div>
{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Espace Etudiant</h1>
                    <h3>Bonjour ETudiant</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}