{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Administrateurs{% endblock %}
{% block menu %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{url_for('administrateur.AccueilSuperAdm')}}">Accueil</a></li>
                <li><a href="{{ url_for('departement.list_departements') }}">Departements</a></li>
                <li><a href="{{ url_for('administrateurs.list_administrateurs') }}">Administrateurs</a></li>
                <li><a href="{{url_for('administrateur.logoutAdmin')}}">Logout</a></li>
              <li><a><i class="fa fa-user"></i>  Bonjour, {{ current_user.nom_admin }}!</a></li>
            </ul>
        </div>
{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Administrateurs</h1>
        {% if administrateurs %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nom </th>
                  <th width="40%"> Prenom </th>
                  <th width="15%"> Sexe </th>
                  <th width="40%"> Date de naissance </th>
                  <th width="15%"> Email </th>
                  <th width="40%"> Super Admin </th>
                    <th width="40%">  Département </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for administrateur in administrateurs %}
                <tr>
                  <td> {{ administrateur.nom_admin }} </td>
                  <td> {{ administrateur.prenom_admin }} </td>
                  <td> {{ administrateur.sexe_admin }} </td>
                  <td> {{ administrateur.date_naissance }} </td>
                  <td> {{ administrateur.email }} </td>
                  <td> {{ administrateur.is_superadmin }} </td>
                  <td> {{ administrateur.departement }} </td>
                  <td>
                    <a href="{{ url_for('administrateurs.edit_administrateurs', id=administrateur.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('administrateurs.delete_administrateurs', id=administrateur.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Administrateurs have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('administrateurs.add_administrateurs') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Administrateur
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock %}